1. ìœ í–‰ í˜„ìƒ í•´ë¶€
    - ì™œ í•´ì•¼í•¨?
        - 5ì›” í˜„ìƒì˜ ê·œëª¨ë¥¼ ì •ëŸ‰í™”í•´ì•¼ ìŠ¤í† ë¦¬ ì‹œì‘ ê°€ëŠ¥
        - "ì „ì²´ ê°€ì…ìì˜ 70%ê°€ 5ì›”ì— ê°€ì…" ê°™ì€ ì„íŒ©íŠ¸ ìˆëŠ” ìˆ«ì í•„ìš”
    - 5ì›” ê°€ì…ìê°€ ì „ì²´ì˜ ëª‡ %?
    - í˜„ì¬ í™œì„± ì‚¬ìš©ì ë¹„ìœ¨

1. ì„œë¹„ìŠ¤ í™•ì‚° íŒ¨í„´ í™•ì¸
    - ì™œ í•´ì•¼í•¨?
        - ë°”ì´ëŸ´ì˜ í•µì‹¬ì€ "ì–´ë–»ê²Œ í¼ì¡Œë‚˜"
        - ì§€ë¦¬ì  ì¸ì ‘ì„± vs ì†Œì…œ ì—°ê²°ì„± íŒŒì•…
        - í–¥í›„ ë§ˆì¼€íŒ… ì „ëµì˜ ê¸°ì´ˆ ë°ì´í„°
    - í•™êµë³„ í™•ì‚° ë„¤íŠ¸ì›Œí¬ ë¶„ì„(ê±°ë¦¬, ê´€ê³„)
        - 'ì‹œì‘_í•™êµ': 'ì–´ëŠ í•™êµì—ì„œ ì‹œì‘?â€™
        - 'í™•ì‚°_ìˆœì„œ': 'í•™êµ A â†’ B â†’ C ìˆœì„œâ€™
        - 'í™•ì‚°_ì†ë„': 'í•™êµê°„ ì „íŒŒ ì†Œìš” ì¼ìˆ˜â€™
        - 'ì§€ë¦¬ì _ê´€ê³„': 'ê°€ê¹Œìš´ í•™êµë¼ë¦¬ í¼ì¡Œë‚˜?â€™
        - ì‚¬ìš©ìì˜ ê°€ì… ì‹œê¸°ë³„ í•™êµ ìœ„ì¹˜
    - ì‹œê°„ëŒ€ë³„ ê°€ì…ì ê¸‰ì¦ í¬ì¸íŠ¸
    - ì´ˆê¸° ì‚¬ìš©ìì˜ ì˜í–¥ë ¥ â†’
        - ì¸ê¸°ìŸì´(ì¹œêµ¬ ë§ì€ë†ˆ) ì¶œëª° ì „í›„ í•´ë‹¹ í•™êµ ê°€ì…ìœ¨ ë¹„êµ

In [1]:
import os
import pandas as pd
from google.cloud import storage

# GCSì—ì„œ Parquet íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
hackle_events = pd.read_parquet("gs://sprintda05_final_project/processed/hackle_events_processed.parquet", engine='pyarrow')
hackle_device_properties = pd.read_parquet("gs://sprintda05_final_project/hackle/device_properties.parquet", engine='pyarrow')
hackle_user_properties = pd.read_parquet("gs://sprintda05_final_project/hackle/user_properties.parquet", engine='pyarrow')
hackle_properties = pd.read_parquet("gs://sprintda05_final_project/hackle/hackle_properties.parquet", engine='pyarrow')

# ì €ì¥í•  ë””ë ‰í† ë¦¬ ê²½ë¡œ
save_directory = "/home/jovyan/work/data"

# ë””ë ‰í† ë¦¬ê°€ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë©´ ìƒì„±
os.makedirs(save_directory, exist_ok=True)

# CSV íŒŒì¼ë¡œ ì €ì¥
hackle_events.to_csv(os.path.join(save_directory, "hackle_events_processed.csv"), index=False)
hackle_device_properties.to_csv(os.path.join(save_directory, "hackle_device_properties.csv"), index=False)
hackle_user_properties.to_csv(os.path.join(save_directory, "hackle_user_properties.csv"), index=False)
hackle_properties.to_csv(os.path.join(save_directory, "hackle_properties.csv"), index=False)

print("ëª¨ë“  íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ CSVë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤:")
print(f"- hackle_events_processed.csv")
print(f"- hackle_device_properties.csv") 
print(f"- hackle_user_properties.csv")
print(f"- hackle_properties.csv")
print(f"ì €ì¥ ìœ„ì¹˜: {save_directory}")

ëª¨ë“  íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ CSVë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤:
- hackle_events_processed.csv
- hackle_device_properties.csv
- hackle_user_properties.csv
- hackle_properties.csv
ì €ì¥ ìœ„ì¹˜: /home/jovyan/work/data

In [2]:
import os
import pandas as pd
from google.cloud import storage

# GCSì—ì„œ Parquet íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° (votes ê´€ë ¨ ë°ì´í„°)
accounts_attendance = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_attendance.parquet", engine='pyarrow')
accounts_blockrecord = pd.read_parquet("gs://sprintda05_final_project/processed/accounts_blockrecord_processed.parquet", engine='pyarrow')
accounts_failpaymenthistory = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_failpaymenthistory.parquet", engine='pyarrow')
accounts_friendrequest = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_friendrequest.parquet", engine='pyarrow')
accounts_group = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_group.parquet", engine='pyarrow')
accounts_nearbyschool = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_nearbyschool.parquet", engine='pyarrow')
accounts_paymenthistory = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_paymenthistory.parquet", engine='pyarrow')
accounts_user_contacts = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_user_contacts.parquet", engine='pyarrow')
accounts_pointhistory = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_pointhistory.parquet", engine='pyarrow')
accounts_school = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_school.parquet", engine='pyarrow')
accounts_timelinereport = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_timelinereport.parquet", engine='pyarrow')
accounts_user = pd.read_parquet("gs://sprintda05_final_project/processed/accounts_user_processed.parquet", engine='pyarrow')
accounts_userquestionrecord = pd.read_parquet("gs://sprintda05_final_project/processed/accounts_userquestionrecord_processed.parquet", engine='pyarrow')
accounts_userwithdraw = pd.read_parquet("gs://sprintda05_final_project/votes/accounts_userwithdraw.parquet", engine='pyarrow')
event_receipts = pd.read_parquet("gs://sprintda05_final_project/votes/event_receipts.parquet", engine='pyarrow')
events = pd.read_parquet("gs://sprintda05_final_project/votes/events.parquet", engine='pyarrow')
polls_question = pd.read_parquet("gs://sprintda05_final_project/votes/polls_question.parquet", engine='pyarrow')
polls_questionpiece = pd.read_parquet("gs://sprintda05_final_project/votes/polls_questionpiece.parquet", engine='pyarrow')
polls_questionreport = pd.read_parquet("gs://sprintda05_final_project/votes/polls_questionreport.parquet", engine='pyarrow')
polls_questionset = pd.read_parquet("gs://sprintda05_final_project/votes/polls_questionset.parquet", engine='pyarrow')
polls_usercandidate = pd.read_parquet("gs://sprintda05_final_project/votes/polls_usercandidate.parquet", engine='pyarrow')

# ì €ì¥í•  ë””ë ‰í† ë¦¬ ê²½ë¡œ
save_directory = "/home/jovyan/work/data"

# ë””ë ‰í† ë¦¬ê°€ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë©´ ìƒì„±
os.makedirs(save_directory, exist_ok=True)

# CSV íŒŒì¼ë¡œ ì €ì¥
accounts_attendance.to_csv(os.path.join(save_directory, "accounts_attendance.csv"), index=False)
accounts_blockrecord.to_csv(os.path.join(save_directory, "accounts_blockrecord_processed.csv"), index=False)
accounts_failpaymenthistory.to_csv(os.path.join(save_directory, "accounts_failpaymenthistory.csv"), index=False)
accounts_friendrequest.to_csv(os.path.join(save_directory, "accounts_friendrequest.csv"), index=False)
accounts_group.to_csv(os.path.join(save_directory, "accounts_group.csv"), index=False)
accounts_nearbyschool.to_csv(os.path.join(save_directory, "accounts_nearbyschool.csv"), index=False)
accounts_paymenthistory.to_csv(os.path.join(save_directory, "accounts_paymenthistory.csv"), index=False)
accounts_user_contacts.to_csv(os.path.join(save_directory, "accounts_user_contacts.csv"), index=False)
accounts_pointhistory.to_csv(os.path.join(save_directory, "accounts_pointhistory.csv"), index=False)
accounts_school.to_csv(os.path.join(save_directory, "accounts_school.csv"), index=False)
accounts_timelinereport.to_csv(os.path.join(save_directory, "accounts_timelinereport.csv"), index=False)
accounts_user.to_csv(os.path.join(save_directory, "accounts_user_processed.csv"), index=False)
accounts_userquestionrecord.to_csv(os.path.join(save_directory, "accounts_userquestionrecord_processed.csv"), index=False)
accounts_userwithdraw.to_csv(os.path.join(save_directory, "accounts_userwithdraw.csv"), index=False)
event_receipts.to_csv(os.path.join(save_directory, "event_receipts.csv"), index=False)
events.to_csv(os.path.join(save_directory, "events.csv"), index=False)
polls_question.to_csv(os.path.join(save_directory, "polls_question.csv"), index=False)
polls_questionpiece.to_csv(os.path.join(save_directory, "polls_questionpiece.csv"), index=False)
polls_questionreport.to_csv(os.path.join(save_directory, "polls_questionreport.csv"), index=False)
polls_questionset.to_csv(os.path.join(save_directory, "polls_questionset.csv"), index=False)
polls_usercandidate.to_csv(os.path.join(save_directory, "polls_usercandidate.csv"), index=False)

print("ëª¨ë“  votes ê´€ë ¨ íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ CSVë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤:")
print("- accounts_attendance.csv")
print("- accounts_blockrecord_processed.csv")
print("- accounts_failpaymenthistory.csv")
print("- accounts_friendrequest.csv")
print("- accounts_group.csv")
print("- accounts_nearbyschool.csv")
print("- accounts_paymenthistory.csv")
print("- accounts_user_contacts.csv")
print("- accounts_pointhistory.csv")
print("- accounts_school.csv")
print("- accounts_timelinereport.csv")
print("- accounts_user_processed.csv")
print("- accounts_userquestionrecord_processed.csv")
print("- accounts_userwithdraw.csv")
print("- event_receipts.csv")
print("- events.csv")
print("- polls_question.csv")
print("- polls_questionpiece.csv")
print("- polls_questionreport.csv")
print("- polls_questionset.csv")
print("- polls_usercandidate.csv")
print(f"\nì´ 21ê°œ íŒŒì¼ì´ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.")
print(f"ì €ì¥ ìœ„ì¹˜: {save_directory}")

ëª¨ë“  votes ê´€ë ¨ íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ CSVë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤:
- accounts_attendance.csv
- accounts_blockrecord_processed.csv
- accounts_failpaymenthistory.csv
- accounts_friendrequest.csv
- accounts_group.csv
- accounts_nearbyschool.csv
- accounts_paymenthistory.csv
- accounts_user_contacts.csv
- accounts_pointhistory.csv
- accounts_school.csv
- accounts_timelinereport.csv
- accounts_user_processed.csv
- accounts_userquestionrecord_processed.csv
- accounts_userwithdraw.csv
- event_receipts.csv
- events.csv
- polls_question.csv
- polls_questionpiece.csv
- polls_questionreport.csv
- polls_questionset.csv
- polls_usercandidate.csv

ì´ 21ê°œ íŒŒì¼ì´ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.
ì €ì¥ ìœ„ì¹˜: /home/jovyan/work/data

In [1]:
import pandas as pd

# ì €ì¥ê²½ë¡œ
base_path = '/home/jovyan/work/data'

# accounts_user ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
accounts_user = pd.read_csv(f'{base_path}/accounts_user_processed.csv')

# accounts_userwithdraw ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
accounts_userwithdraw = pd.read_csv(f'{base_path}/accounts_userwithdraw.csv')

In [2]:
accounts_user

,id,is_superuser,is_staff,gender,point,friend_id_list,is_push_on,created_at,block_user_id_list,hide_user_id_list,...,report_count,alarm_count,pending_chat,pending_votes,group_id,friend_count,is_point_specialist,is_friend_specialist,is_specialist,specialist_type
0,831956,1,1,NaN,600,"[1292473, 913158, 1488461, 1064695, 1043565, 1...",0,2023-03-29 03:44:14.047130,[],[],...,0,0,0,0,NaN,6,False,False,False,normal
1,831962,0,0,F,2248,"[833025, 832642, 982531, 879496, 838541, 83752...",1,2023-03-29 05:18:56.162368,[],[],...,253,40878,5499,110,12.0,43,False,False,False,normal
2,832151,0,0,M,1519,"[838785, 982531, 882567, 879496, 838541, 83649...",0,2023-03-29 12:56:34.989468,[],[],...,0,37,0,47,1.0,51,False,False,False,normal
3,832340,0,0,F,57,"[841345, 982531, 838785, 963714, 882567, 83252...",1,2023-03-29 12:56:35.020790,[],[],...,0,19,0,21,1.0,57,False,False,False,normal
4,832520,0,0,M,1039,"[874050, 849763, 874212, 844297, 838541, 84004...",0,2023-03-29 12:56:35.049311,[],[],...,0,29,0,15,12.0,18,False,False,False,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677080,1583729,0,0,M,300,[],1,2024-05-08 21:54:33.621408,[],[],...,0,0,0,0,32442.0,0,False,False,False,normal
677081,1583730,0,0,M,420,"[1109507, 1110921, 1111072, 1110054, 1108393, ...",0,2024-05-09 07:08:11.001817,[],[],...,0,1,0,0,43949.0,21,False,False,False,normal
677082,1583731,0,0,M,300,"[1583732, 1583673]",1,2024-05-09 07:22:19.186439,[],[],...,0,1,0,0,18640.0,2,False,False,False,normal
677083,1583732,0,0,F,300,"[1583673, 1583730, 1583731]",1,2024-05-09 07:22:38.387553,[],[],...,0,0,0,0,18640.0,3,False,False,False,normal
677084,1583733,0,0,F,300,[],0,2024-05-09 08:31:17.710824,[],[],...,0,0,0,0,84546.0,0,False,False,False,normal

In [3]:
accounts_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677085 entries, 0 to 677084
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    677085 non-null  int64
 1   is_superuser          677085 non-null  int64
 2   is_staff              677085 non-null  int64
 3   gender                677083 non-null  object
 4   point                 677085 non-null  int64
 5   friend_id_list        677085 non-null  object
 6   is_push_on            677085 non-null  int64
 7   created_at            677085 non-null  object
 8   block_user_id_list    677085 non-null  object
 9   hide_user_id_list     677085 non-null  object
 10  ban_status            677085 non-null  object
 11  report_count          677085 non-null  int64
 12  alarm_count           677085 non-null  int64
 13  pending_chat          677085 non-null  int64
 14  pending_votes         677085 non-null  int64
 15  group_id              677082 non-null  float64
 16  friend_count          677085 non-null  int64
 17  is_point_specialist   677085 non-null  bool
 18  is_friend_specialist  677085 non-null  bool
 19  is_specialist         677085 non-null  bool
 20  specialist_type       677085 non-null  object
dtypes: bool(3), float64(1), int64(10), object(7)
memory usage: 94.9+ MB

In [4]:
accounts_user['ban_status'].value_counts()

ban_status
N     668432
W       7855
NB       608
RB       190
Name: count, dtype: int64

In [5]:
total_users = len(accounts_user)

In [6]:
# created_atì„ datetimeìœ¼ë¡œ ë³€í™˜
accounts_user['created_at'] = pd.to_datetime(accounts_user['created_at'])

# 5ì›” ê°€ì…ì í•„í„°ë§
may_users = accounts_user[accounts_user['created_at'].dt.month == 5]
may_user_count = len(may_users)

# 5ì›” ê°€ì…ì ë¹„ìœ¨
may_ratio = may_user_count / total_users
print(f'5ì›” ê°€ì…ì ë¹„ìœ¨: {may_ratio:.2%} ({may_user_count} / {total_users})')

5ì›” ê°€ì…ì ë¹„ìœ¨: 93.87% (635554 / 677085)

In [7]:
withdraw_user_df = accounts_user[accounts_user['ban_status'] == 'W']
withdraw_user_count = len(withdraw_user_df)

In [8]:
# íƒˆí‡´ ìƒíƒœê°€ ê¸°ë¡ë˜ì–´ ìˆë‹¤ë©´
withdraw_user_count = len(accounts_user[accounts_user['ban_status'] == 'íƒˆí‡´'])

In [9]:
active_user_count = total_users - withdraw_user_count
active_ratio = active_user_count / total_users
print(f'í˜„ì¬ í™œì„± ì‚¬ìš©ì ë¹„ìœ¨: {active_ratio:.2%} ({active_user_count} / {total_users})')

í˜„ì¬ í™œì„± ì‚¬ìš©ì ë¹„ìœ¨: 100.00% (677085 / 677085)

In [10]:
may_active_user_count = len(may_users[may_users['ban_status'] != 'íƒˆí‡´'])
may_active_ratio = may_active_user_count / may_user_count
print(f'5ì›” ê°€ì…ì ì¤‘ í˜„ì¬ í™œì„± ë¹„ìœ¨: {may_active_ratio:.2%}')

5ì›” ê°€ì…ì ì¤‘ í˜„ì¬ í™œì„± ë¹„ìœ¨: 100.00%

In [11]:
import pandas as pd

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
user_df = pd.read_csv('/home/jovyan/work/data/accounts_user_processed.csv', parse_dates=['created_at'])
group_df = pd.read_csv('/home/jovyan/work/data/accounts_group.csv')
school_df = pd.read_csv('/home/jovyan/work/data/accounts_school.csv')

In [12]:
# ìœ ì € í…Œì´ë¸” + ê·¸ë£¹ ì •ë³´ ì¡°ì¸ â†’ í•™êµ id ì–»ê¸°
user_group = pd.merge(user_df, group_df, left_on='group_id', right_on='id', how='left')
user_group = user_group.rename(columns={'school_id': 'school_id'})

# í•™êµë³„ë¡œ ê°€ì¥ ì²« ê°€ì… ì‹œì  ê³„ì‚°
school_first_join = (
    user_group
    .groupby('school_id')['created_at']
    .min()
    .reset_index()
    .rename(columns={'created_at': 'first_join_date'})
)

# í•™êµ ì´ë¦„, ì£¼ì†Œ ë“± ë¶™ì´ê¸°
school_info = pd.merge(school_first_join, school_df, left_on='school_id', right_on='id', how='left')

# í¼ì§„ ìˆœì„œëŒ€ë¡œ ì •ë ¬
school_info_sorted = school_info.sort_values('first_join_date').reset_index(drop=True)

# ê²°ê³¼ í™•ì¸
import datetime
school_info_sorted['first_join_date'] = school_info_sorted['first_join_date'].dt.strftime('%Y-%m-%d')
school_info_sorted[['first_join_date', 'school_id', 'address', 'school_type', 'student_count']].head(10)

  first_join_date  school_id       address school_type  student_count
0      2023-03-29        1.0           NaN         NaN            NaN
1      2023-03-31     5464.0       ê²½ê¸°ë„ êµ°í¬ì‹œ           H          158.0
2      2023-03-31      314.0  ì¶©ì²­ë‚¨ë„ ì²œì•ˆì‹œ ë™ë‚¨êµ¬           H          131.0
3      2023-03-31      281.0  ì¶©ì²­ë‚¨ë„ ì²œì•ˆì‹œ ì„œë¶êµ¬           H          347.0
4      2023-03-31      272.0  ì¶©ì²­ë‚¨ë„ ì²œì•ˆì‹œ ì„œë¶êµ¬           H          339.0
5      2023-03-31      289.0  ì¶©ì²­ë‚¨ë„ ì²œì•ˆì‹œ ì„œë¶êµ¬           H          385.0
6      2023-04-01     4523.0       ê²½ê¸°ë„ í™”ì„±ì‹œ           H           92.0
7      2023-04-01      268.0  ì¶©ì²­ë‚¨ë„ ì²œì•ˆì‹œ ì„œë¶êµ¬           H          236.0
8      2023-04-01     4732.0       ê²½ê¸°ë„ ì˜ì™•ì‹œ           H          220.0
9      2023-04-04       10.0      ì¶©ì²­ë¶ë„ ì¶©ì£¼ì‹œ           M          159.0

In [1]:
import pandas as pd
import os

# ì €ì¥ ìœ„ì¹˜
save_directory = "/home/jovyan/work/data"

# CSV íŒŒì¼ ê²½ë¡œ
events_path = os.path.join(save_directory, 'hackle_events_processed.csv')
device_path = os.path.join(save_directory, 'hackle_device_properties.csv')
user_path = os.path.join(save_directory, 'hackle_user_properties.csv')
properties_path = os.path.join(save_directory, 'hackle_properties.csv')

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
hackle_events = pd.read_csv(events_path)
hackle_device_properties = pd.read_csv(device_path)
hackle_user_properties = pd.read_csv(user_path)
hackle_properties = pd.read_csv(properties_path)

# í™•ì¸
print("ğŸ“‚ ëª¨ë“  Hackle ë°ì´í„° íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ ë¡œë“œë˜ì—ˆìŠµë‹ˆë‹¤:")
print(f"- hackle_events: {hackle_events.shape}")
print(f"- hackle_device_properties: {hackle_device_properties.shape}")
print(f"- hackle_user_properties: {hackle_user_properties.shape}")
print(f"- hackle_properties: {hackle_properties.shape}")

/tmp/ipykernel_22807/2238888156.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  hackle_user_properties = pd.read_csv(user_path)

ğŸ“‚ ëª¨ë“  Hackle ë°ì´í„° íŒŒì¼ì´ ì„±ê³µì ìœ¼ë¡œ ë¡œë“œë˜ì—ˆìŠµë‹ˆë‹¤:
- hackle_events: (11218354, 11)
- hackle_device_properties: (252380, 4)
- hackle_user_properties: (230819, 5)
- hackle_properties: (525350, 8)

In [2]:
print(len(hackle_events))  # ì „ì²´ ì´ë²¤íŠ¸ ìˆ˜
print(hackle_user_properties['user_id'].nunique())  # ìœ ì € ìˆ˜

11218354
230819

In [ ]:
# ì´ë²¤íŠ¸ ë¡œê·¸ 
hackle_events['event_name'].value_counts().head(20).plot(kind='barh')